/*
  Project: teej WordPress theme
  Author: TJ Fogarty
 */

/* Fonts
   ========================================================================== */

/* Breakpoints
   ========================================================================== */

/* Colors
   ========================================================================== */

.button {
  text-decoration: none;
}

/*! bulma.io v0.5.3 | MIT License | github.com/jgthms/bulma */

@-webkit-keyframes spinAround {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes spinAround {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

/*! minireset.css v0.0.2 | MIT License | github.com/jgthms/minireset.css */

html,body,hr,h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5,h6 {
  font-size: 100%;
  font-weight: normal;
}

button {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

*:before,*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  background-color: #fff;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

header,section {
  display: block;
}

body,button {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

body {
  color: #4a4a4a;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

a {
  color: #00d1b2;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  color: #363636;
}

hr {
  background-color: #dbdbdb;
  border: none;
  display: block;
  height: 1px;
  margin: 1.5rem 0;
}

span {
  font-style: inherit;
  font-weight: inherit;
}

.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 3px;
  -webkit-box-shadow: none;
  box-shadow: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 1rem;
  height: 2.25em;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  line-height: 1.5;
  padding-bottom: calc(0.375em - 1px);
  padding-left: calc(0.625em - 1px);
  padding-right: calc(0.625em - 1px);
  padding-top: calc(0.375em - 1px);
  position: relative;
  vertical-align: top;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: white;
  border-color: #dbdbdb;
  color: #363636;
  cursor: pointer;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 0.75em;
  padding-right: 0.75em;
  text-align: center;
  white-space: nowrap;
}

.button:focus,.button:active,.button.is-active {
  outline: none;
}

.button[disabled] {
  cursor: not-allowed;
}

.button:hover {
  border-color: #b5b5b5;
  color: #363636;
}

.button:focus {
  border-color: #00d1b2;
  color: #363636;
}

.button:focus:not(:active) {
  -webkit-box-shadow: 0 0 0 0.125em rgba(0, 209, 178, 0.25);
  box-shadow: 0 0 0 0.125em rgba(0, 209, 178, 0.25);
}

.button:active,.button.is-active {
  border-color: #4a4a4a;
  color: #363636;
}

.button.is-link {
  background-color: transparent;
  border-color: transparent;
  color: #4a4a4a;
  text-decoration: underline;
}

.button.is-link:hover,.button.is-link:focus {
  background-color: whitesmoke;
  color: #363636;
}

.button.is-link:active,.button.is-link.is-active {
  background-color: #e8e8e8;
  color: #363636;
}

.button.is-link[disabled] {
  background-color: transparent;
  border-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.button.is-primary {
  background-color: #00d1b2;
  border-color: transparent;
  color: #fff;
}

.button.is-primary:hover {
  background-color: #00c4a7;
  border-color: transparent;
  color: #fff;
}

.button.is-primary:focus {
  border-color: transparent;
  color: #fff;
}

.button.is-primary:focus:not(:active) {
  -webkit-box-shadow: 0 0 0 0.125em rgba(0, 209, 178, 0.25);
  box-shadow: 0 0 0 0.125em rgba(0, 209, 178, 0.25);
}

.button.is-primary:active,.button.is-primary.is-active {
  background-color: #00b89c;
  border-color: transparent;
  color: #fff;
}

.button.is-primary[disabled] {
  background-color: #00d1b2;
  border-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.button.is-warning {
  background-color: #ffdd57;
  border-color: transparent;
  color: rgba(0, 0, 0, 0.7);
}

.button.is-warning:hover {
  background-color: #ffdb4a;
  border-color: transparent;
  color: rgba(0, 0, 0, 0.7);
}

.button.is-warning:focus {
  border-color: transparent;
  color: rgba(0, 0, 0, 0.7);
}

.button.is-warning:focus:not(:active) {
  -webkit-box-shadow: 0 0 0 0.125em rgba(255, 221, 87, 0.25);
  box-shadow: 0 0 0 0.125em rgba(255, 221, 87, 0.25);
}

.button.is-warning:active,.button.is-warning.is-active {
  background-color: #ffd83d;
  border-color: transparent;
  color: rgba(0, 0, 0, 0.7);
}

.button.is-warning[disabled] {
  background-color: #ffdd57;
  border-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.button[disabled] {
  background-color: white;
  border-color: #dbdbdb;
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: 0.5;
}

.container {
  margin: 0 auto;
  position: relative;
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 960px;
    width: 960px;
  }
}

@media screen and (min-width: 1216px) {
  .container {
    max-width: 1152px;
    width: 1152px;
  }
}

@media screen and (min-width: 1408px) {
  .container {
    max-width: 1344px;
    width: 1344px;
  }
}

.content:not(:last-child) {
  margin-bottom: 1.5rem;
}

.content h1,.content h2,.content h3,.content h4,.content h5,.content h6 {
  color: #363636;
  font-weight: 400;
  line-height: 1.125;
}

.content h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

.content h1:not(:first-child) {
  margin-top: 1em;
}

.content h2 {
  font-size: 1.75em;
  margin-bottom: 0.5714em;
}

.content h2:not(:first-child) {
  margin-top: 1.1428em;
}

.content h3 {
  font-size: 1.5em;
  margin-bottom: 0.6666em;
}

.content h3:not(:first-child) {
  margin-top: 1.3333em;
}

.content h4 {
  font-size: 1.25em;
  margin-bottom: 0.8em;
}

.content h5 {
  font-size: 1.125em;
  margin-bottom: 0.8888em;
}

.content h6 {
  font-size: 1em;
  margin-bottom: 1em;
}

.label {
  color: #363636;
  display: block;
  font-size: 1rem;
  font-weight: 700;
}

.label:not(:last-child) {
  margin-bottom: 0.5em;
}

.tag:not(body) {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: whitesmoke;
  border-radius: 3px;
  color: #4a4a4a;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 0.75rem;
  height: 2em;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  line-height: 1.5;
  padding-left: 0.75em;
  padding-right: 0.75em;
  white-space: nowrap;
}

.tag:not(body).is-primary {
  background-color: #00d1b2;
  color: #fff;
}

.tag:not(body).is-warning {
  background-color: #ffdd57;
  color: rgba(0, 0, 0, 0.7);
}

a.tag:hover {
  text-decoration: underline;
}

.title {
  word-break: break-word;
}

.title:not(:last-child) {
  margin-bottom: 1.5rem;
}

.title span {
  font-weight: inherit;
}

.title .tag {
  vertical-align: middle;
}

.title {
  color: #363636;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.125;
}

.title.is-1 {
  font-size: 3rem;
}

.title.is-2 {
  font-size: 2.5rem;
}

.title.is-3 {
  font-size: 2rem;
}

.title.is-4 {
  font-size: 1.5rem;
}

.title.is-5 {
  font-size: 1.25rem;
}

.title.is-6 {
  font-size: 1rem;
}

.title.is-7 {
  font-size: 0.75rem;
}

.level {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.level:not(:last-child) {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 769px), print {
  .level {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.level-item {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.level-item .title {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .level-item:not(:last-child) {
    margin-bottom: 0.75rem;
  }
}

.menu {
  font-size: 1rem;
}

.menu-label {
  color: #7a7a7a;
  font-size: 0.75em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.menu-label:not(:first-child) {
  margin-top: 1em;
}

.menu-label:not(:last-child) {
  margin-bottom: 1em;
}

.nav-toggle {
  cursor: pointer;
  display: block;
  height: 3.25rem;
  position: relative;
  width: 3.25rem;
}

.nav-toggle span {
  background-color: currentColor;
  display: block;
  height: 1px;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  top: 50%;
  -webkit-transition: none 86ms ease-out;
  transition: none 86ms ease-out;
  -webkit-transition-property: background, left, opacity, -webkit-transform;
  transition-property: background, left, opacity, -webkit-transform;
  transition-property: background, left, opacity, transform;
  transition-property: background, left, opacity, transform, -webkit-transform;
  width: 15px;
}

.nav-toggle span:nth-child(1) {
  margin-top: -6px;
}

.nav-toggle span:nth-child(2) {
  margin-top: -1px;
}

.nav-toggle span:nth-child(3) {
  margin-top: 4px;
}

.nav-toggle:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.nav-toggle.is-active span:nth-child(1) {
  margin-left: -5px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: left top;
  transform-origin: left top;
}

.nav-toggle.is-active span:nth-child(2) {
  opacity: 0;
}

.nav-toggle.is-active span:nth-child(3) {
  margin-left: -5px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: left bottom;
  transform-origin: left bottom;
}

@media screen and (min-width: 769px), print {
  .nav-toggle {
    display: none;
  }
}

.nav-item {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  font-size: 1rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  line-height: 1.5;
  padding: 0.5rem 0.75rem;
}

.nav-item a {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.nav-item .tag:first-child:not(:last-child) {
  margin-right: 0.5rem;
}

.nav-item .tag:last-child:not(:first-child) {
  margin-left: 0.5rem;
}

@media screen and (max-width: 768px) {
  .nav-item {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

.nav-item a:not(.button),a.nav-item:not(.button) {
  color: #7a7a7a;
}

.nav-item a:not(.button):hover,a.nav-item:not(.button):hover {
  color: #363636;
}

.nav-item a:not(.button).is-active,a.nav-item:not(.button).is-active {
  color: #363636;
}

@media screen and (min-width: 1024px) {
  .nav-item a:not(.button).is-brand,  a.nav-item:not(.button).is-brand {
    padding-left: 0;
  }
}

.nav {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 3.25rem;
  position: relative;
  text-align: center;
  z-index: 10;
}

.nav > .container {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 3.25rem;
  width: 100%;
}

.navbar {
  background-color: white;
  min-height: 3.25rem;
  position: relative;
}

.navbar.is-primary {
  background-color: #00d1b2;
  color: #fff;
}

.navbar.is-primary .navbar-brand > .navbar-item,.navbar.is-primary .navbar-brand .navbar-link {
  color: #fff;
}

.navbar.is-primary .navbar-brand > a.navbar-item:hover,.navbar.is-primary .navbar-brand > a.navbar-item.is-active,.navbar.is-primary .navbar-brand .navbar-link:hover,.navbar.is-primary .navbar-brand .navbar-link.is-active {
  background-color: #00b89c;
  color: #fff;
}

.navbar.is-primary .navbar-brand .navbar-link::after {
  border-color: #fff;
}

@media screen and (min-width: 1024px) {
  .navbar.is-primary .navbar-start > .navbar-item,  .navbar.is-primary .navbar-start .navbar-link,  .navbar.is-primary .navbar-end > .navbar-item,  .navbar.is-primary .navbar-end .navbar-link {
    color: #fff;
  }

  .navbar.is-primary .navbar-start > a.navbar-item:hover,  .navbar.is-primary .navbar-start > a.navbar-item.is-active,  .navbar.is-primary .navbar-start .navbar-link:hover,  .navbar.is-primary .navbar-start .navbar-link.is-active,  .navbar.is-primary .navbar-end > a.navbar-item:hover,  .navbar.is-primary .navbar-end > a.navbar-item.is-active,  .navbar.is-primary .navbar-end .navbar-link:hover,  .navbar.is-primary .navbar-end .navbar-link.is-active {
    background-color: #00b89c;
    color: #fff;
  }

  .navbar.is-primary .navbar-start .navbar-link::after,  .navbar.is-primary .navbar-end .navbar-link::after {
    border-color: #fff;
  }
}

.navbar.is-warning {
  background-color: #ffdd57;
  color: rgba(0, 0, 0, 0.7);
}

.navbar.is-warning .navbar-brand > .navbar-item,.navbar.is-warning .navbar-brand .navbar-link {
  color: rgba(0, 0, 0, 0.7);
}

.navbar.is-warning .navbar-brand > a.navbar-item:hover,.navbar.is-warning .navbar-brand > a.navbar-item.is-active,.navbar.is-warning .navbar-brand .navbar-link:hover,.navbar.is-warning .navbar-brand .navbar-link.is-active {
  background-color: #ffd83d;
  color: rgba(0, 0, 0, 0.7);
}

.navbar.is-warning .navbar-brand .navbar-link::after {
  border-color: rgba(0, 0, 0, 0.7);
}

@media screen and (min-width: 1024px) {
  .navbar.is-warning .navbar-start > .navbar-item,  .navbar.is-warning .navbar-start .navbar-link,  .navbar.is-warning .navbar-end > .navbar-item,  .navbar.is-warning .navbar-end .navbar-link {
    color: rgba(0, 0, 0, 0.7);
  }

  .navbar.is-warning .navbar-start > a.navbar-item:hover,  .navbar.is-warning .navbar-start > a.navbar-item.is-active,  .navbar.is-warning .navbar-start .navbar-link:hover,  .navbar.is-warning .navbar-start .navbar-link.is-active,  .navbar.is-warning .navbar-end > a.navbar-item:hover,  .navbar.is-warning .navbar-end > a.navbar-item.is-active,  .navbar.is-warning .navbar-end .navbar-link:hover,  .navbar.is-warning .navbar-end .navbar-link.is-active {
    background-color: #ffd83d;
    color: rgba(0, 0, 0, 0.7);
  }

  .navbar.is-warning .navbar-start .navbar-link::after,  .navbar.is-warning .navbar-end .navbar-link::after {
    border-color: rgba(0, 0, 0, 0.7);
  }
}

.navbar > .container {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 3.25rem;
  width: 100%;
}

.navbar-brand {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  min-height: 3.25rem;
}

.navbar-burger {
  cursor: pointer;
  display: block;
  height: 3.25rem;
  position: relative;
  width: 3.25rem;
  margin-left: auto;
}

.navbar-burger span {
  background-color: currentColor;
  display: block;
  height: 1px;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  top: 50%;
  -webkit-transition: none 86ms ease-out;
  transition: none 86ms ease-out;
  -webkit-transition-property: background, left, opacity, -webkit-transform;
  transition-property: background, left, opacity, -webkit-transform;
  transition-property: background, left, opacity, transform;
  transition-property: background, left, opacity, transform, -webkit-transform;
  width: 15px;
}

.navbar-burger span:nth-child(1) {
  margin-top: -6px;
}

.navbar-burger span:nth-child(2) {
  margin-top: -1px;
}

.navbar-burger span:nth-child(3) {
  margin-top: 4px;
}

.navbar-burger:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.navbar-burger.is-active span:nth-child(1) {
  margin-left: -5px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: left top;
  transform-origin: left top;
}

.navbar-burger.is-active span:nth-child(2) {
  opacity: 0;
}

.navbar-burger.is-active span:nth-child(3) {
  margin-left: -5px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: left bottom;
  transform-origin: left bottom;
}

.navbar-menu {
  display: none;
}

.navbar-item,.navbar-link {
  color: #4a4a4a;
  display: block;
  line-height: 1.5;
  padding: 0.5rem 1rem;
  position: relative;
}

a.navbar-item:hover,a.navbar-item.is-active,.navbar-link:hover,.navbar-link.is-active {
  background-color: whitesmoke;
  color: #0a0a0a;
}

.navbar-item {
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.navbar-content {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
}

.navbar-link {
  padding-right: 2.5em;
}

@media screen and (max-width: 1023px) {
  .navbar > .container {
    display: block;
  }

  .navbar-brand .navbar-item {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .navbar-menu {
    background-color: white;
    -webkit-box-shadow: 0 8px 16px rgba(10, 10, 10, 0.1);
    box-shadow: 0 8px 16px rgba(10, 10, 10, 0.1);
    padding: 0.5rem 0;
  }

  .navbar-menu.is-active {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .navbar,  .navbar-menu,  .navbar-start,  .navbar-end {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .navbar {
    min-height: 3.25rem;
  }

  .navbar-burger {
    display: none;
  }

  .navbar-item,  .navbar-link {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .navbar-link::after {
    border: 1px solid #00d1b2;
    border-right: 0;
    border-top: 0;
    content: " ";
    display: block;
    height: 0.5em;
    pointer-events: none;
    position: absolute;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 0.5em;
    margin-top: -0.375em;
    right: 1.125em;
    top: 50%;
  }

  .navbar-menu {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }

  .navbar-start {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-right: auto;
  }

  .navbar-end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-left: auto;
  }

  .container > .navbar .navbar-brand {
    margin-left: -1rem;
  }

  .container > .navbar .navbar-menu {
    margin-right: -1rem;
  }

  a.navbar-item.is-active,  .navbar-link.is-active {
    color: #0a0a0a;
  }

  a.navbar-item.is-active:not(:hover),  .navbar-link.is-active:not(:hover) {
    background-color: transparent;
  }
}

.pagination {
  font-size: 1rem;
  margin: -0.25rem;
}

.pagination {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.pagination-previous,.pagination-next,.pagination-link {
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 3px;
  -webkit-box-shadow: none;
  box-shadow: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 1rem;
  height: 2.25em;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  line-height: 1.5;
  padding-bottom: calc(0.375em - 1px);
  padding-left: calc(0.625em - 1px);
  padding-right: calc(0.625em - 1px);
  padding-top: calc(0.375em - 1px);
  position: relative;
  vertical-align: top;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0.25rem;
  text-align: center;
}

.pagination-previous:focus,.pagination-previous:active,.pagination-previous.is-active,.pagination-next:focus,.pagination-next:active,.pagination-next.is-active,.pagination-link:focus,.pagination-link:active,.pagination-link.is-active {
  outline: none;
}

.pagination-previous[disabled],.pagination-next[disabled],.pagination-link[disabled] {
  cursor: not-allowed;
}

.pagination-previous,.pagination-next,.pagination-link {
  border-color: #dbdbdb;
  min-width: 2.25em;
}

.pagination-previous:hover,.pagination-next:hover,.pagination-link:hover {
  border-color: #b5b5b5;
  color: #363636;
}

.pagination-previous:focus,.pagination-next:focus,.pagination-link:focus {
  border-color: #00d1b2;
}

.pagination-previous:active,.pagination-next:active,.pagination-link:active {
  -webkit-box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.2);
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.2);
}

.pagination-previous[disabled],.pagination-next[disabled],.pagination-link[disabled] {
  background-color: #dbdbdb;
  border-color: #dbdbdb;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #7a7a7a;
  opacity: 0.5;
}

.pagination-previous,.pagination-next {
  padding-left: 0.75em;
  padding-right: 0.75em;
  white-space: nowrap;
}

@media screen and (max-width: 768px) {
  .pagination {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .pagination-previous,  .pagination-next {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
  }
}

@media screen and (min-width: 769px), print {
  .pagination-previous {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }

  .pagination-next {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }

  .pagination {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

.hero {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.hero .nav {
  background: none;
  -webkit-box-shadow: 0 1px 0 rgba(219, 219, 219, 0.3);
  box-shadow: 0 1px 0 rgba(219, 219, 219, 0.3);
}

.hero.is-primary {
  background-color: #00d1b2;
  color: #fff;
}

.hero.is-primary a:not(.button) {
  color: inherit;
}

.hero.is-primary .title {
  color: #fff;
}

.hero.is-primary .nav {
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
}

@media screen and (max-width: 768px) {
  .hero.is-primary .nav-menu {
    background-color: #00d1b2;
  }
}

.hero.is-primary a.nav-item,.hero.is-primary .nav-item a:not(.button) {
  color: rgba(255, 255, 255, 0.7);
}

.hero.is-primary a.nav-item:hover,.hero.is-primary a.nav-item.is-active,.hero.is-primary .nav-item a:not(.button):hover,.hero.is-primary .nav-item a:not(.button).is-active {
  color: #fff;
}

@media screen and (max-width: 768px) {
  .hero.is-primary .nav-toggle span {
    background-color: #fff;
  }

  .hero.is-primary .nav-toggle:hover {
    background-color: rgba(10, 10, 10, 0.1);
  }

  .hero.is-primary .nav-toggle.is-active span {
    background-color: #fff;
  }

  .hero.is-primary .nav-menu .nav-item {
    border-top-color: rgba(255, 255, 255, 0.2);
  }
}

.hero.is-warning {
  background-color: #ffdd57;
  color: rgba(0, 0, 0, 0.7);
}

.hero.is-warning a:not(.button) {
  color: inherit;
}

.hero.is-warning .title {
  color: rgba(0, 0, 0, 0.7);
}

.hero.is-warning .nav {
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 768px) {
  .hero.is-warning .nav-menu {
    background-color: #ffdd57;
  }
}

.hero.is-warning a.nav-item,.hero.is-warning .nav-item a:not(.button) {
  color: rgba(0, 0, 0, 0.7);
}

.hero.is-warning a.nav-item:hover,.hero.is-warning a.nav-item.is-active,.hero.is-warning .nav-item a:not(.button):hover,.hero.is-warning .nav-item a:not(.button).is-active {
  color: rgba(0, 0, 0, 0.7);
}

@media screen and (max-width: 768px) {
  .hero.is-warning .nav-toggle span {
    background-color: rgba(0, 0, 0, 0.7);
  }

  .hero.is-warning .nav-toggle:hover {
    background-color: rgba(10, 10, 10, 0.1);
  }

  .hero.is-warning .nav-toggle.is-active span {
    background-color: rgba(0, 0, 0, 0.7);
  }

  .hero.is-warning .nav-menu .nav-item {
    border-top-color: rgba(0, 0, 0, 0.2);
  }
}

.hero-body {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding: 3rem 1.5rem;
}

.section {
  padding: 3rem 1.5rem;
}
/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IiIsImZpbGUiOiJhc3NldHMvY3NzL21haW4uY3NzIiwic291cmNlUm9vdCI6IiJ9*/