/* ==========================================================================
   #LAYOUT
   ========================================================================== */

/* Simple flexbox layout system */

.o-layout {
  display: block;

  @include bp-medium {
    display: flex;
  }
}

.o-layout__item {
  flex: 1;
}
