/* ==========================================================================
   #FORMS
   ========================================================================== */

form {
  margin: 0 0 1em 0;
}

label {
  display: block;
}

input,
select,
textarea {
  border: 1px solid $colour-dark-blue;
  border-radius: 3px;
  margin-bottom: 1em;
}
