/* ==========================================================================
   #LINKS
   ========================================================================== */

a {
  color: $color-link;
  text-decoration: underline;
  text-decoration-skip: ink;
  text-decoration-color: $colour-dark-blue;

  &:hover {
    color: $color-hover;
  }
}
