/* ==========================================================================
   #LINKS
   ========================================================================== */

a {
  color: $color-link;
  text-decoration: underline;
  text-decoration-skip: ink;

  &:hover {
    color: $color-hover;
  }
}
