<form action="/" role="search" method="GET" class="js-search-form c-form c-form--fullscreen">

  <div class="c-form__body">
    <label for="search">Search:</label>
    <input type="text" name="s" id="search">

    <button type="submit" class="c-btn">Search</button>
    <button type="button" class="c-btn c-form__close js-search-close">Close</button>
  </div>

</form>
