/* ==========================================================================
   #HEADER
   ========================================================================== */

.c-header {
  @include honeycomb-bg($colour-dark-blue, lighten($colour-dark-blue, 1.5%));
  @include angle-divider($bottom: -30px, $degrees: -2);

  margin-bottom: 2em;
  color: $colour-off-white;
  top: 0;
  left: 0;
  width: 100%;
  height: 25vh;
  min-height: 230px;
}

.c-header__logo {
  margin-bottom: 0;
}

.c-header__logo-link {
  text-decoration: none;
  color: $colour-off-white;
}

.c-header__nav-container {
  display: flex;
  justify-content: flex-end;
}

.c-header__nav {
  padding: 1em 0;
}

.c-header__content {
  height: 100%;
  text-align: center;
}

.c-header__logo {
  color: $colour-off-white;
}
