/* ==========================================================================
   #HEADER
   ========================================================================== */

.c-header {
  @include angle-divider($bottom: -30px, $degrees: -2);

  color: $colour-off-white;
  min-height: 30vh;
  padding-bottom: 60px;

  @include bp-medium {
    min-height: 25vh;
  }
}

.c-header__logo {
  margin-bottom: 0;
}

.c-header__logo-link {
  text-decoration: none;
  color: $colour-off-white;
}

.c-header__nav-container {
  display: flex;
  justify-content: flex-end;
}

.c-header__nav {
  padding: 1em 0;
}

.c-header__content {
  height: 100%;
  text-align: center;
}

.c-header__logo {
  color: $colour-off-white;
}
