/* ==========================================================================
   #HEADER
   ========================================================================== */

.c-header {
  margin-bottom: 2em;
  padding: 1em;
  top: 0;
  left: 0;
  width: 100%;
  background: $colour-dark-blue;

  @supports(backdrop-filter: blur(10px)) {
    background: rgba($colour-dark-blue, 0.9);
    backdrop-filter: blur(10px);
  }

  @include bp-large {
    position: sticky;
  }
}

.c-header__logo {
  grid-area: logo;
  margin-bottom: 0;
}

.c-header__logo-link {
  text-decoration: none;
  color: $colour-off-white;
}

.c-header__nav {
  grid-area: nav;
  flex: 1;
}

.c-header__content {

  @include bp-small {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @supports (display: grid) {
      display: grid;
      align-items: center;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto;
      grid-template-areas:
        "logo logo nav";
    }
  }
}
