{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
	
		<main class="c-content" role="main">
			<div id="app"></div>
		</main>
		
		<noscript>
			{% block content %}
			{% endblock %}
		</noscript>

		{% block footer %}
			{{ function('wp_footer') }}
		{% endblock %}

	</body>
</html>
