<div class="c-comment {{comment.comment_type}}" id="blog-comment-{{comment.ID}}">
	<h5 class="c-comment__author">{{ comment.author.name }} said</h5>

	<div class="c-comment__content">{{ comment.comment_content | wpautop }}</div>

	<section>
		{% if post.comments %}
			<h4>Replies</h4>
			{% for cmt in comment.children %}
				{% include 'comment.twig' with { comment: cmt } %}
			{% endfor %}
		{% endif %}

		{% include 'comment-form.twig' %}
	</section>
</div>
