{% extends "base.twig" %}

{% block content %}
  <div class="o-wrapper">

    {% cache 'index/content' posts %}
      {% include 'posts-grid-paginated.twig' %}
    {% endcache %}

  </div>
{% endblock %}
