{% if menu %}
	<ul class="c-nav__list">
	{% for item in menu %}
		<li class="{{item.classes | join(' ')}} c-nav__item">
			<a class="c-nav__link" href="{{item.get_link}}">{{item.title}}</a>
			{% include "menu.twig" with {'menu': item.get_children} %}
		</li>
	{% endfor %}
	</ul>
{% endif %}
