{% if menu %}
	<ul class="o-list-inline">
	{% for item in menu %}
		<li class="{{item.classes | join(' ')}} o-list-inline__item">
			<a href="{{item.get_link}}">{{item.title}}</a>
			{% include "menu.twig" with {'menu': item.get_children} %}
		</li>
	{% endfor %}
	</ul>
{% endif %}
