{% extends "base.twig" %}

{% block content %}
	<div class="o-wrapper">
		<article class="c-post" id="post-{{post.ID}}">
			<section class="c-post__body">
				<h1 class="c-post__title">{{post.title}}</h1>
				<div class="c-post__body">
					{{post.content}}
				</div>
			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}
