// *************************************
//
// Angle Divider
//
// *************************************

@mixin angle-divider($degrees, $bottom: null, $top: null) {
  position: relative;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;

    @if $bottom {
      bottom: $bottom;
    }

    @if $top {
      top: $top;
    }

    transform: rotate(#{$degrees}deg);
    left: -5px;
    right: 0;
    width: 110vw;
    height: 10vh;
    background: $colour-off-white;
    pointer-events: none;
    box-shadow: 0 0 4px 6px rgba(#000, 0.2);
  }
}
