///* ========================================================================
//   #DROP-CAP
//   ======================================================================== */

@mixin drop-cap() {
  p:first-child {

    &:first-letter {
      color: $colour-dark-blue;
      float: left;
      font-family: $font-serif;
      font-size: 75px;
      line-height: 65px;
      padding-top: 4px;
      padding-right: 8px;
      padding-left: 3px;
    }

    + p {
      clear: both; // in case the first line is too short and the dropcap pushes the second line out
    }
  }
}
