// *************************************
//
// Honeycomb pattern
//  - http://lea.verou.me/css3patterns/#honeycomb
//
// *************************************

@mixin honeycomb-bg(
  $bg-colour: $colour-dark-blue,
  $line-colour: lighten($colour-dark-blue, 2%)
) {
  background:
  radial-gradient(circle farthest-side at 0% 50%,$bg-colour 23.5%,rgba(240,166,17,0) 0)21px 30px,
  radial-gradient(circle farthest-side at 0% 50%,$line-colour 24%,rgba(240,166,17,0) 0)19px 30px,
  linear-gradient($bg-colour 14%,rgba(240,166,17,0) 0, rgba(240,166,17,0) 85%,$bg-colour 0)0 0,
  linear-gradient(150deg,$bg-colour 24%,$line-colour 0,$line-colour 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,$line-colour 0,$line-colour 76%,$bg-colour 0)0 0,
  linear-gradient(30deg,$bg-colour 24%,$line-colour 0,$line-colour 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,$line-colour 0,$line-colour 76%,$bg-colour 0)0 0,
  linear-gradient(90deg,$line-colour 2%,$bg-colour 0,$bg-colour 98%,$line-colour 0%)0 0 $bg-colour;
  background-size: 40px 60px;
}
